<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1076956518941-6rpsmgru9oa2r6slck785dg2ia43cmki.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1076956518941-6rpsmgru9oa2r6slck785dg2ia43cmki</string>
	<key>API_KEY</key>
	<string>AIzaSyA55Xc0yabGGK-__l_gsjKygVYsKxEHxwo</string>
	<key>GCM_SENDER_ID</key>
	<string>1076956518941</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.moneyController</string>
	<key>PROJECT_ID</key>
	<string>moneycontroller-62309</string>
	<key>STORAGE_BUCKET</key>
	<string>moneycontroller-62309.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1076956518941:ios:8b65c54b0dd0c688d5c4f4</string>
</dict>
</plist>